@if (User.Identity.IsAuthenticated)
{
    @* <li class="nav-item">
        <span class="me-1">Welcome @User.FindFirst("UserFirstName").Value</span>
        <a asp-controller="Account" asp-action="Logout" class="btn btn-outline-primary">Logout</a>
    </li> *@
    <li>
        <div class="dropdown">
            <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Welcome @User.FindFirst("UserFirstName").Value
            </a>

            <ul class="dropdown-menu">
                <li>
                    <a asp-controller="Account" asp-action="Logout" class="dropdown-item">Logout</a>
                </li>
                <li>
                    <a asp-controller="Account" asp-action="ChangePassword" class="dropdown-item">Change Password</a>
                </li>
            </ul>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a asp-controller="Account" asp-action="Login" class="btn btn-outline-primary me-1" asp-route-returnUrl="@Context.Request.Path">Login</a>
        <a asp-controller="Account" asp-action="Register" class="btn btn-primary">Register</a>
    </li>
}

